name: Certora

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  submit:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      statuses: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Submit verification jobs to Certora Prover
        uses: Certora/certora-run-action@v2
        with:
          configurations: |-
            certora/confs/AllocateDeallocateReverts.conf
          solc-versions: 0.8.28
          debug-level: 1
          certora-key: ${{ secrets.CERTORAKEY }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
