name: Certora

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-24.04-arm
    container:
      image: mathisgd/certora-docker-19-21-26-28

    strategy:
      fail-fast: false

      matrix:
        conf:
          - AbdicatedFunctions
          - AllocationMorphoMarketV1Adapter
          - AllocationMorphoVaultV1Adapter
          - AllocationVaultV2
          - ChangesMorphoMarketV1Adapter
          - ChangesMorphoVaultV1Adapter
          - ExchangeRate
          - Gates
          - IdsMorphoMarketV1Adapter
          - IdsMorphoVaultV1Adapter
          - Immutability
          - Invariants
          - Liveness
          - MarketIds
          - MorphoMarketV1AdapterFactory
          - MorphoVaultV1AdapterFactory
          - OwnerSafety
          - PreviewFunctions
          - Reentrancy
          - ReentrancyView
          - RelativeCaps
          - SentinelLiveness
          - TokensMorphoMarketV1Adapter
          - TokensMorphoVaultV1Adapter
          - TokensNoAdapter
          - TotalAssetsChange

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Install Jq
        uses: sergeysova/jq-action@v2

      - name: Run Certora Config Linter
        run: |
          file="certora/confs/${{ matrix.conf }}.conf"
          diff <(grep -v "//" "$file" | jq) <(grep -v "//" "$file")

      - name: Verify ${{ matrix.conf }}
        run: certoraRun certora/confs/${{ matrix.conf }}.conf
        env:
          CERTORAKEY: ${{ secrets.CERTORAKEY }}
