name: Foundry sizes

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  sizes:
    strategy:
      fail-fast: true

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.MORPHO_V2_READ_TOKEN }}

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run forge build
        run: forge build --force --sizes
